# load shared objects; registration is via src/init.c file; the names of the
# registered symbols have prefix "C_" such that they are easily recognizable
useDynLib(rsae, .registration = TRUE, .fixes = "C_")

# import
importFrom("graphics",
    par, lines, axis, grid, box, legend, arrows)
importFrom("stats",
    model.frame, model.response, model.matrix, pnorm, dnorm, rnorm, pt,
    printCoefmat, median)
importFrom("utils",
    head, setTxtProgressBar, tail, txtProgressBar)

# saemodel
export(saemodel)
S3method(print, saemodel)
S3method(summary, saemodel)
S3method(as.matrix, saemodel)

# fitsaemodel
export(fitsaemodel)
export(fitsaemodel.control)
S3method(print, fit_model_b)
S3method(summary, fit_model_b)
S3method(coef, fit_model_b)
S3method(summary, fit_model_b)
S3method(print, summary_fit_model_b)

# robpredict
export(robpredict)
S3method(print, pred_model_b)
S3method(plot, pred_model_b)
S3method(residuals, pred_model_b)
S3method(as.matrix, pred_model_b)
S3method(head, pred_model_b)
S3method(tail, pred_model_b)

# varia
export(convergence)
export(makedata)
